<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <form role="form" [formGroup]="postForm" (ngSubmit)="onSavePost()">
      <legend><strong>Nouveau Post</strong></legend>
    
      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" class="form-control" id="title" formControlName="title" 
          placeholder="Ecrire un titre ici.">
      </div>      
    
      <div class="form-group">
        <label for="content">Texte</label>
        <textarea type="text" class="form-control" id="content" formControlName="content" 
        rows="3" placeholder="Ecrire votre text ici..."></textarea>
      </div>  
    
      <button type="submit" class="btn btn-primary" [disabled]="postForm.invalid">Soumettre</button>
    </form>

  </div>
</div>
